.header.navbar {
  transition: all 0.5s;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: rgb(20, 20, 20);
  padding: 0;
}
.header.navbar a p {
  margin: 0;
  font-size: 30px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: rgb(242, 107, 56);
}
.header.navbar .search {
  border: 1px solid #ced0da;
  padding-right: 8px;
  border-radius: 6px;
  background-color: white;
}
.header.navbar .search input {
  border: none;
  font-size: 14px;
  padding: 6px 25px 6px 10px;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  color: #43464b;
  width: 250px;
}
.header.navbar .search button {
  border: none;
  background-color: white;
}
.header.navbar .user {
  flex-grow: 0;
}
.header.navbar .user a {
  color: #232946;
  transition: all 0.5s;
  text-decoration: none;
}
.header.navbar .user a:hover {
  color: green;
}
.header.navbar .user a .btn-information.btn-information {
  transition: all 0.3s;
}
.header.navbar .user a .btn-information.btn-information:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.3;
}
.header.navbar .btn-focus:focus {
  outline: none !important;
}
.header.navbar .form-control:focus {
  box-shadow: none !important;
}
.header.navbar .user .dropdown .dropdown-toggle {
  border-radius: 50%;
}
.header.navbar .user .dropdown .dropdown-toggle i {
  font-size: 17px;
}
.header.navbar .user .dropdown .dropdown-toggle::after {
  font-size: 0;
}
.header.navbar .user .dropdown .dropdown-toggle:focus {
  box-shadow: none;
}
.header.navbar .user .fa-solid {
  margin-right: 5px;
}
.header.navbar .user .action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header.navbar .user .action span {
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.header.navbar .user .action button {
  font-weight: 500;
  border-radius: 0;
}
.header.navbar .user .action .btn-admin.btn-admin {
  transition: all 0.3s;
}
.header.navbar .user .action .btn-admin.btn-admin:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 0;
  transition: all 0.3s;
}
.header.navbar .user .action .btn-logout.btn-logout {
  transition: all 0.3s;
}
.header.navbar .user .action .btn-logout.btn-logout:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  transition: all 0.3s;
}
.header.navbar .user .action .btn-login.btn-login {
  transition: all 0.3s;
}
.header.navbar .user .action .btn-login.btn-login:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.3s;
}
.header.navbar .user .action .btn-register.btn-register {
  transition: all 0.3s;
}
.header.navbar .user .action .btn-register.btn-register:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.3s;
}

.header.scroll.navbar {
  background: rgb(20, 20, 20) !important;
  transition: all 0.3s;
}

.header.tablet a {
  margin: 0;
}
.header.tablet a img {
  width: 55px;
}
.header.tablet a p {
  font-size: 19px;
}
.header.tablet .search input {
  width: 175px;
}
.header.tablet .user .action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header.tablet .user .action span {
  font-size: 16px;
  margin-right: 0 !important;
  width: 150px;
}
.header.tablet .user .action button {
  width: 106px;
  height: 35px;
  font-weight: 600;
  font-size: 14px;
}
.header.tablet .user .action .btn-admin {
  margin-top: 5px;
  margin-left: 0;
  width: 108px;
}

.header.mobile a {
  margin-right: 0 !important;
}
.header.mobile a img {
  width: 55px;
}
.header.mobile a p {
  font-size: 18px;
}
.header.mobile .search input {
  width: 150px;
}
.header.mobile .user .action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header.mobile .user .action span {
  font-size: 15px;
}
.header.mobile .user .action button {
  width: 106px;
  font-size: 13px;
  height: 33px;
}/*# sourceMappingURL=header.css.map */