.review {
  .btn_xemThem {
    justify-content: space-between !important;
    h2{
      color: #fffffe;
    }

    button {
      background-color: white;
      color: rgb(242, 107, 56);
      font-weight: 500;
      border: none;
      transition: all 0.5s;

      &:hover {
        color: #fffffe;
        background-color: rgb(242, 107, 56);
      }
    }
  }

  .movie {
    .swiper {
      display: inline-block;
      width: 100%;

      .swiper-wrapper {
        margin-left: 25px;
      }

      .swiper-button-prev {
        margin-left: 20px;
        color: rgb(242, 107, 56);
      }

      .swiper-button-next {
        margin-right: 10px;
        color: rgb(242, 107, 56);
      }
    }

    .card {
      width: 340px;
      height: 463px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: all 0.5s;
      }

      &:hover::after {
        opacity: 1;
      }

      .rate {
        .rate-quality {
          transition: all 0.5s;
          position: absolute;
          background: #ff4c00;
          border-radius: 2px;
          color: #fff;
          font-size: 16px;
          padding: 0 2px;
          opacity: 0;
          z-index: 1;
          top: 81%;
          margin-left: 5px;
        }

        .rate-point {
          transition: all 0.5s;
          position: absolute;
          opacity: 0;
          z-index: 1;
          color: white;
          right: 10px;
          top: 3%;
          font-size: 18px;

          i {
            margin-right: 3px;
            color: #e89105;
          }
        }
      }

      &:hover .rate-quality {
        opacity: 1;
      }

      &:hover .rate-point {
        opacity: 1;
      }

      a {
        cursor: pointer;
      }

      img {
        background: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        background-color: transparent;
        border: 3px solid white;
        padding: 6px 17px;
        font-size: 18px;
        font-weight: 500;
        opacity: 0;
        transition: all 0.5s;
        z-index: 1;
        border-radius: 6px;

        &:hover {
          background-color: rgb(242, 107, 56);
          color: white;
          border: 3px solid rgb(242, 107, 56);
        }
      }

      &:hover button {
        opacity: 1;
      }

      h4 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-transform: uppercase !important;
        padding: 10px 0 15px;
        font-family: "Open Sans", sans-serif;
        opacity: 0;
        z-index: 1;
        top: 85%;
        transition: all 0.5s;
        margin-left: 5px;
        overflow: hidden;
        max-height: 35px;
        max-width: 90%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover h4 {
        opacity: 1;
      }
    }
  }
}

.review.tablet {
  .movie {
    .card {
      width: 230px !important;
      height: 390px !important;
    }
  }
}

.review.mobile {
  .movie {
    .card {
      width: 163px !important;
      height: 275px !important;
    }
  }
}
