.modal {
  .modal-dialog {
    margin: 5.5rem auto;
    .modal-content {
      width: 650px;
      .modal-body {
        padding: 0;
        position: relative;
        height: 350px;
        button {
          position: absolute;
          top: -24px;
          right: -13px;
          opacity: 1;
          font-size: 2.5rem;
        }
        iframe {
          width: 650px;
          height: 350px;
        }
      }
    }
  }
}

.modal.tablet {
  top: 56px;
  left: -64px;
  .modal-content {
    width: 591px;
    height: 330px;
    .modal-body {
      iframe {
        width: 590px;
        height: 330px;
      }
    }
  }
}


.modal.mobile {
  top: 84px;
  .modal-content {
    width: 477px;
    height: 290px;
    .modal-body {
      iframe {
        width: 479px;
        height: 290px;
      }
    }
  }
}
