.booked {
  .booked_tickets {
    display: flex;
    gap: 40px;
    .movie {
      width: 216px;
      height: 272px;
      background-color: transparent;
      box-shadow: 6px 6px 6px 2px #888888;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .tickets {
      p {
        font-weight: 500;
        font-size: 18px;
        color: #fffffe;

        span {
          color: #b8c1ec;
        }
      }
      .chair_history {
        h6 {
          font-weight: 500;
          font-size: 18px;
          color: #fffffe;
        }
        p.chair {
          display: inline-block;
          background-color: #eebbc3;
          margin: 1px 3px;
          color: #232946;
          padding: 4px 6px;
          border-radius: 4px;
        }
      }
    }
  }
}
.zero_chair {
  color: #fffffe;
  margin-bottom: 90px;
}

.zero_chair.tablet {
  height: 28.5vh;
}

.zero_chair.mobile {
  margin-bottom: 45px;
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}
