.page_not_found {
  height: 100vh;
  position: relative;
  .not__found {
    position: absolute;
    left: 36%;
    top: 69%;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .not__found__404 {
    position: absolute;
    font-size: 200px;
    font-weight: 700;
    text-transform: uppercase;
    left: 38%;
  }

  .img__notfound {
    img {
      position: absolute;
      left: 33%;
      top: 26%;
      z-index: -1;
    }
  }
}

.page_not_found.tablet {
  .not__found__404 {
    left: 28%;
    top: 13%;
  }
  .img__notfound {
    img {
      left: 18%;
      top: 32%;
    }
  }
  .not__found {
    left: 24%;
    top: 62%;
  }
}

.page_not_found.mobile {
  .not__found__404 {
    left: 21%;
    top: 11%;
  }
  .img__notfound {
    img {
      left: 7%;
      top: 32%;
    }
  }
  .not__found {
    left: 15%;
    top: 67%;
  }
}
